{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="row" style="justify-content: center;">
    <div class="card text-white bg-dark mb-3" style="width: 22rem; margin: 1rem">
        <div class="card-header">
            Clients
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>


    <div class="card text-white bg-dark mb-3" style="width: 22rem; margin: 1rem">
        <div class="card-header">
            Location
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>
<div class="row" style="justify-content: center;">
    <div class="card text-white bg-dark mb-3" style="width: 22rem; margin: 1rem">
        <div class="card-header">
            Vehicule
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>


    <div class="card text-white bg-dark mb-3" style="width: 22rem; margin: 1rem">
        <div class="card-header">
            En Garage
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
</div>
{% endblock %}