{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="row" style="justify-content: center;">
    <div class="card text-white bg-dark mb-3" style="width: 22rem; margin: 1rem">
        <div class="card-header">
            Clients
        </div>
        <div class="card-body">
            <h5 class="card-title">Affiche la liste de tout les clients</h5>
            <a href="{{ path('client_index')}}" class="btn btn-primary">Aller a la page</a>
        </div>
    </div>


    <div class="card text-white bg-dark mb-3" style="width: 22rem; margin: 1rem">
        <div class="card-header">
            Location
        </div>
        <div class="card-body">
            <h5 class="card-title">Affiche la liste des differentes locations</h5>
            <a href="{{ path('location_index')}}" class="btn btn-primary">Aller a la page</a>
        </div>
    </div>

</div>
<div class="row" style="justify-content: center;">
    <div class="card text-white bg-dark mb-3" style="width: 22rem; margin: 1rem">
        <div class="card-header">
            Vehicule
        </div>
        <div class="card-body">
            <h5 class="card-title">Affiche tout les véhicules</h5>
            <a href="{{ path('vehicule_index')}}" class="btn btn-primary">Aller a la page</a>
        </div>
    </div>


    <div class="card text-white bg-dark mb-3" style="width: 22rem; margin: 1rem">
        <div class="card-header">
            En Garage
        </div>
        <div class="card-body">
            <h5 class="card-title">Affiche uniquement les véhicules disponible pour la location</h5>
            <a href="{{ path('garage')}}" class="btn btn-primary">Aller a la page</a>
        </div>
    </div>
</div>
</div>
{% endblock %}